{% extends 'base.html' %}

{% block title %}Kittn Application{% endblock %}

{% block content %}
<h1>Application</h1>
<br>
<div class = "panel panel-primary">
   <div class = "panel-heading">
      <h4 class = "panel-title">Let's get started. Fill out the fields below to give us an idea of who you are and what skills you can contribute to the Kittn team.</h4>
   </div>
</div>
<!-- <h4>Let's get started. Fill out the fields below to give us an idea of who you are and what skills you can contribute to the Kittn team.</h4>
</div> -->
<br>
<form action="/application">
	<p>First Name:</p><input type="text" name="firstname">
<br>
	<p>Last Name:</p><input type="text" name="lastname">
<br>
	<p>My desired salary amount is:</p><input type="text" name="salary">
<br>
	<p>I am interested in the role of (choose one):</p>
	<input type="radio" name="radio-job" value="Software Engineer"> Software Engineer
	<input type="radio" name="radio-job" value="QA Engineer"> QA Engineer
	<input type="radio" name="radio-job" value="Product Manager"> Product Manager
<br>
<br>
	<p>Please list three relevant skills you have for this position:</p>
	<input type="text" name="skills">
<br>
<br>
	<button type="submit" name="apply" class="btn btn-primary btn-md">Submit</button>
  </form>
</form>
<br>
<br>

{% endblock %}